<div class="events_list">
  <% if (type === "listener") { %>
    <%- include('../partials/listener_navbar') %>
  <% } else if (type === "promoter") { %>
    <%- include('../partials/promoter_navbar') %>
  <% } %>
  
  <select id="location-filter">
    <option value="">All Locations</option>
    <% const locations = new Set(events.map(event => event.location)); %>
    <% locations.forEach(location => { %>
      <option value="<%= location %>"><%= location %></option>
    <% }); %>
  </select>
  <button id="filter-btn">Filter</button>
</div>

<ul class="card-list">
  <% for (let i = 0; i < events.length; i++) { %>
    <li class="cards">
      <a class="card" href='/event/<%= events[i].id %>'> 
        <p class="card-name"><%= events[i].name %></p>
        <h3 class="card-price">Price: £<%= events[i].price %></h3>
        <p class="card-date"><%= events[i].date %></p>
        <p class="card-location"><%= events[i].location %></p>
        <div class="card-img-cont">
          <img src="/event_default.jpg" alt="" class="card-img">
        </div> 
      </a>
    </li>
  <% } %>
</ul>