<h1><%= event.name %></h1>
<p><strong>Promoter:</strong> <%= promoter.company_name %> <a href="/user/promoter/<%= promoter.id %>" class="btn btn-primary">Promoter Page</a></p>
<form method="POST" action="/event/<%= event.id %>/status">
  <label for="event-status">Mark yourself as:</label>
  <select id="event-status" name="event-status">
    <option value="0">Not interested</option>
    <option value="1">Interested</option>
    <option value="2">Going</option>
  </select>
  <button type="submit">Save</button>
</form>
<p><strong>Location:</strong> <%= event.location %></p>
<p><strong>Date:</strong> <%= event.date %></p>
<p><strong>Price:</strong> £<%= event.price %></p>
<p><strong>Genre:</strong> <%= event.genre %></p>
<p><strong>Artist List:</strong></p>
<ul>
  <% for (let i = 0; i < event.artist_list.length; i++) { %>
    <li><%= event.artist_list[i].artist %> - <%= event.artist_list[i].genre %></li>
  <% } %>
</ul>
