  <!DOCTYPE html>
  <html lang="en">
      <head>
  
      </head>
      <body>
          <main>
            <div class="frequencies_page">
                <%- include('../partials/listener_navbar') %>

                <% if (random_pick != "null") { %> 
                    <p>Random user:</p>
                    <p><%= random_pick.first_name %> <%= random_pick.last_name %></p>
                    <p><%= random_pick.bio %></p>
                    <img width="50" height="50" src="/<%= random_pick.picture %>">
                    <form form action="/frequencies/<%= user.id %>/confirm/<%= random_pick.id %>" method="POST">
                        <input type="submit" value="<3">
                    </form>
                    <form form action="/frequencies/<%= user.id %>/deny/<%= random_pick.id %>" method="POST">
                        <input type="submit" value="X">
                    </form>
                <% } else { %>
                    <p>No users found!</p>
                <% } %>

                <form form action="/frequencies" method="POST">
                    <label for="filter">Choose a genre:</label>
                    <select class="filter" name="filter" id="filter">
                        <option value="----">----</option>
                        <option value="Rock">Rock</option>
                        <option value="Indie">Indie</option>
                        <option value="Electronic">Electronic</option>
                        <option value="Alternative">Alternative</option>
                        <option value="Metal">Metal</option>
                    </select>
                    <select class="filter" name="filter" id="filter">
                        <option value="----">----</option>
                        <option value="Rock">Rock</option>
                        <option value="Indie">Indie</option>
                        <option value="Electronic">Electronic</option>
                        <option value="Alternative">Alternative</option>
                        <option value="Metal">Metal</option>
                    </select>
                    <select class="filter" name="filter" id="filter">
                        <option value="----">----</option>
                        <option value="Rock">Rock</option>
                        <option value="Indie">Indie</option>
                        <option value="Electronic">Electronic</option>
                        <option value="Alternative">Alternative</option>
                        <option value="Metal">Metal</option>
                    </select>
                    <select class="filter" name="filter" id="filter">
                        <option value="----">----</option>
                        <option value="Rock">Rock</option>
                        <option value="Indie">Indie</option>
                        <option value="Electronic">Electronic</option>
                        <option value="Alternative">Alternative</option>
                        <option value="Metal">Metal</option>
                    </select>
                    <input type="Submit" value="Filter">
                </form>
            </div>
          </main>
      </body>
  </html>