  <!DOCTYPE html>
  <html lang="en">
      <head>
  
      </head>
      <body>
          <main>
            <div class="frequencies_page">
                <%- include('../partials/listener_navbar') %>
                <p>Filtering by : <%= filter %></p>
                <% if (random_pick != "null") { %> 
                    <img width="50" height="50" src="/<%= random_pick.picture %>">
                    <p>Name: <%= random_pick.first_name %> <%= random_pick.last_name %></p>
                    <p>Age: <%= random_pick.age %></p>
                    <p>Location: <%= random_pick.location %></p>
                    <p>Bio: <%= random_pick.bio %></p>
                    <p>Favourite Artist: <%= fave_artist %></p>
                    <p>Top Genres: <%= genres %></p>
                    <form form action="/frequencies/<%= user.id %>/confirm/<%= random_pick.id %>" method="POST">
                        <input type="submit" value="<3">
                    </form>
                    <form form action="/frequencies/<%= user.id %>/deny/<%= random_pick.id %>" method="POST">
                        <input type="submit" value="X">
                    </form>
                <% } else { %>
                    <p>No users found!</p>
                <% } %>

                <form form action="/frequencies/search" method="POST">
                    <label for="filter">Filter by:</label>
                    <select class="filter" name="filter" id="filter">
                        <option value="Genre">Genre</option>
                        <option value="Location">Location</option>
                        <option value="Favourite Artist">Favourite Artist</option>
                        <option value="Events">Events</option>
                    </select>
                    <input type="Submit" value="Filter">
                </form>
            </div>
          </main>
      </body>
  </html>