  <!DOCTYPE html>
  <html lang="en">
      <head>
  
      </head>
      <body>
        <main>
            <div class="frequencies_page">
                <%- include('../partials/listener_navbar') %>
                <form id="finder" form action="/frequencies/search" method="POST">
                    <label for="filter">Find me people who </label>
                    <select class="filter" name="filter" id="filter">
                        <option value="Genre">Like the same music</option>
                        <option value="Location">Live near me</option>
                        <option value="Favourite Artist">Have the same favourite artist</option>
                        <option value="Events">Are going to my events</option>
                    </select>
                    <br><button class="update-button" value="Update" type="submit">FILTER</button>
                </form>
                <% if (random_pick != "null") { %> 
                        <div class="cards">
                            <form id ="like" form action="/frequencies/<%= user.id %>/confirm/<%= random_pick.id %>" method="POST">
                                <input type="image" src="heart.png" width="35" height="35">
                            </form><br>
                            <form id="deny" form action="/frequencies/<%= user.id %>/deny/<%= random_pick.id %>" method="POST">
                                <input type="image" src="cancel.png" width="30" height="30">
                            </form>
                            <ul class="card-list">
                            <a class="listener-card" href=''> 
                                <p><strong><%= random_pick.first_name %> <%= random_pick.last_name %></strong>, <%= random_pick.age %></p>
                                <p>Location: <%= random_pick.location %></p>
                                <p>Top Genres: <%= genres %></p>
                                <p>Favourite Artist: <%= fave_artist %></p><br><br>
                                <p><%= random_pick.bio %></p><br>
                                <div class="listener-card-img-cont">
                                  <img src="/<%= random_pick.picture %>"
                                      alt="" class="listener-card-img">
                                </div> 
                            </a>
                        </div>
                        
                        </div>
                <% } else { %>
                    <p>No users found!</p>
                <% } %>

            </div>
          </main>
      </body>
  </html>