<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
          <div class="user_page">
            <%- include('../partials/listener_navbar') %>
            <div class="preferences-container">
              <div class="preferences">
                <h3 class="update-pref">UPDATE YOUR PREFERENCES</h3>
            <form action="/user/listener/profile/success" method="POST">
                <label for="genre">Choose a genre:</label>
                <select name="genre" id="genre">
                  <option value="----">----</option>
                  <option value="Rock">Rock</option>
                  <option value="Indie">Indie</option>
                  <option value="Electronic">Electronic</option>
                  <option value="Alternative">Alternative</option>
                  <option value="Metal">Metal</option>
                </select>
                <select name="genre" id="genre">
                  <option value="----">----</option>
                  <option value="Rock">Rock</option>
                  <option value="Indie">Indie</option>
                  <option value="Electronic">Electronic</option>
                  <option value="Alternative">Alternative</option>
                  <option value="Metal">Metal</option>
                </select>
                <select name="genre" id="genre">
                  <option value="----">----</option>
                  <option value="Rock">Rock</option>
                  <option value="Indie">Indie</option>
                  <option value="Electronic">Electronic</option>
                  <option value="Alternative">Alternative</option>
                  <option value="Metal">Metal</option>
                </select>
                <br>
                <input style="color: aqua" type="text" name="age" id="age" placeholder="Age">
                <input style="color: aqua" type="text" name="location" id="location" placeholder="Location">
                <input style="color: aqua" type="text" name="artist" id="artist" placeholder="Favourite Artist">
                <input style="color: aqua" type="text" name="bio" id="bio" placeholder="Bio">
                <br><br>
                <input type="submit" value="Update">
                <br><br>
              </form>
              <p>Age: <%= user.age %></p>
              <p>Location: <%= user.location %></p>
              <p>Favourite Artist: <%= user.preferences[0].favourite_artist %></p>
              <p>Bio: <%= user.bio %></p>
              <a href="upload">Upload a profile picture</a>
              <img width="50" height="50" src="/<%= user.picture %>" >
              </div>
        </main>
    </body>
</html>