<%- include('../partials/promoter_navbar') %>

<h1>Welcome <%= user.company_name %></h1>
<p>Email: <%= user.email %></p>

<h2>Upcoming Events:</h2>
<% if (events.length > 0) { %>
  <ul>
    <% events.forEach(event => { %>
      <li>
        <h3><%= event.name %></h3>
        <p><%= event.date.toLocaleDateString() %></p>
        <p>Location: <%= event.location %></p>
        <p>Price: £<%= event.price %></p>
        <p>Genre: <%= event.genre %></p>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No upcoming events.</p>
<% } %>
