<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <main>
          <div class="user_page">
            <%- include('../partials/listener_navbar') %>
            <div class="preferences-container">
              <div class="preferences">
                <h3 class="update-pref">UPDATE YOUR PREFERENCES</h3>
            <form action="/user/listener/profile/success" method="POST">
                <label for="genre">Choose a favourite genre:</label>
                <select name="genre" id="genre">
                  <option value="----">----</option>
                  <option value="Rock">Rock</option>
                  <option value="Indie">Indie</option>
                  <option value="Electronic">Electronic</option>
                  <option value="Alternative">Alternative</option>
                  <option value="Metal">Metal</option>
                </select>
                <select name="genre" id="genre">
                  <option value="----">----</option>
                  <option value="Rock">Rock</option>
                  <option value="Indie">Indie</option>
                  <option value="Electronic">Electronic</option>
                  <option value="Alternative">Alternative</option>
                  <option value="Metal">Metal</option>
                </select>
                <select name="genre" id="genre">
                  <option value="----">----</option>
                  <option value="Rock">Rock</option>
                  <option value="Indie">Indie</option>
                  <option value="Electronic">Electronic</option>
                  <option value="Alternative">Alternative</option>
                  <option value="Metal">Metal</option>
                </select>
                <br>
                <input style="color: aqua" type="text" name="age" id="age" placeholder="Age">
                <input style="color: aqua" type="text" name="location" id="location" placeholder="Location">
                <input style="color: aqua" type="text" name="artist" id="artist" placeholder="Favourite Artist">
                <input style="color: aqua" type="text" name="bio" id="bio" placeholder="Bio">
                <br><br>
                <button class="update-button" value="Update" type="submit">UPDATE</button>
              </form>
              </div>
            </div>
              <div class="profile-pic-container">
                <div class="profile-pic">
              <img id="upload-img" width="200" height="200" src="/<%= user.picture %>"><br>
              <a id="upload" href="upload">Change profile picture</a><br>
              <p><%= user.first_name %> <%= user.last_name %>, <%= user.age %></p>
              <p><%= user.location %></p>
              <p><%= user.bio %></p>
              </div>
              </div>

              <div class="events-container">
                <div class="events">
                  <% for (let i = 0; i < events.length; i++) { %>
                    <h3><%= events[i].name %></h3>
                    <br>
                  <% } %>
                </div>
              </div>
              

              <div class="friends-container">
                <div class="friends">
                  Friends List:
                  <ul>
                    <% friends.forEach(function (object) { %>
                    <li>
                      <a href="/user/listener/<%= user.id %>/messages/<%= object.id %>"</a><%= object.name %></a>
                    </li>
                    <% }); %>
                  </ul>
                </div>
              </div>
          </div>
        </main>
    </body>
</html>