<% if (type === "listener") { %>
  <%- include('../partials/listener_navbar') %>
<% } else if (type === "promoter") { %>
  <%- include('../partials/promoter_navbar') %>
<% } %>

<h1>Welcome <%= user.company_name %></h1>
<p>Email: <%= user.email %></p>

<% if (type === 'listener') { %>
  <% if (followed === 'true') { %>
    <form method="POST" action="/user/unfollow">
      <input type="hidden" name="promoter_id" value="<%= user.id %>">
      <input type="hidden" name="position" value="<%= position %>">
      <button type="submit">Unfollow</button>
    </form>
  <% } else { %>
    <form method="POST" action="/user/follow">
      <input type="hidden" name="promoter_id" value="<%= user.id %>">
      <button type="submit">Follow</button>
    </form>
  <% } %>
<% } %>

<h2>Upcoming Events:</h2>
<% if (events.length > 0) { %>
  <ul>
    <% events.forEach(event => { %>
        <li>
          <h3><%= event.name %></h3>
          <p><%= event.date.toLocaleDateString() %></p>
          <p>Location: <%= event.location %></p>
          <p>Price: £<%= event.price %></p>
          <p>Genre: <%= event.genre %></p>
          <% if (type === 'promoter') { %>
            <form method="POST" action="/user/promoter/event/<%=event.id%>">
              <button type="submit">Delete</button>
            </form>
            <form method="GET" action="/user/promoter/event/update/<%=event.id%>">
              <button type="submit">Update</button>
            </form>
          <% } %>
        </li>
      <% }); %>
  </ul>
<% } else { %>
  <p>No upcoming events.</p>
<% } %>

</div>
